.root {
    background-color: #111;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    margin-left: 10rem;
    /* height: ; */
}

.sectionRoot {
    margin: 2rem 5rem 5rem 20rem;
    font-size: 1.6rem;
    height: 100%;
}