@import url(../../../components/Jakub/Colors/Colors.module.css);

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.801);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color4);
}
