.root {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.pie {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden;
    padding-bottom: 10%;
    padding-left: 10%;
}

button, button:focus {
    outline: none;
    background-color: rgb(75, 75, 75);
    border: thin solid rgb(44, 44, 44);
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom left;
    transition: all 200ms ease-out;
}

button:hover {
    box-shadow: 0px 0px 10px 5px #b6b6b6;
    z-index: 1;
}

.text {
    position: absolute;
    bottom: 140px;
    font-size: 2.3rem;
    color: white;
    left: 90px;
    transform: skewY(-30deg) rotate(0deg); 
  }

.firstPie {
    transform: rotate(0deg) skewY(30deg)
}
.firstPie:hover {
    translate: -50px 30px; 
}

.secondPie {
    transform: rotate(120deg) skewY(30deg)
}
.secondPie:hover {
    translate: 0px -50px;
}
.secondPie .text {
    transform: skewY(-30deg) rotate(240deg);
}

.thirdPie {
    transform: rotate(240deg) skewY(30deg)
}
.thirdPie:hover {
    translate: 50px 30px;
}
.thirdPie .text {
    transform: skewY(-30deg) rotate(120deg);
}

@media screen and (max-height: 660px){
    .pie {
        height: 20rem;
        width: 20rem;
    }
    .text {
        bottom: 70px;
        font-size: 1.5rem;
        left: 40px;
      }
}

  