html{
  font-size: 18px;
  
  --michal-main:#45C4B0;
  /* #38C3FF */
  --michal-second: #EDB44F;
  --michal-second-dark:#BF5E26;
  --michal-black:#120802;
  

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
